## Deliverable 3. Create a Travel Itinerary Map.

In [30]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Marsa Matruh,EG,80.60,clear sky,31.35,27.25,Beau Site
1,2,Auki,SB,77.05,light rain,-8.77,160.70,Auki Motel
2,5,Los Llanos De Aridane,ES,81.00,few clouds,28.66,-17.92,Valle Aridane
3,7,Ribeira Grande,PT,75.20,broken clouds,38.52,-28.70,Quinta da Meia Eira
4,9,Veraval,IN,81.05,moderate rain,20.90,70.37,Lords Inn Somnath

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City Name</dt>{City}<dd></dd>
<dt>Country</dt>{Country}<dd></dd>
<dt>Current Weather</dt>{Current Description} and {Max Temp:.1f} Â°F<dd></dd>
</dl>
"""


# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Barcelona"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Barcelona"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Tomelloso"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Huescar"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "San Javier"]
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
12,37,Barcelona,ES,80.01,few clouds,41.39,2.16,Axel Hotel Barcelona

In [58]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0])
end = (vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0])
stop1 = (vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0])
stop2 = (vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0])
stop3 = (vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0])

In [66]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
                                 
start2end = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(start2end)
                                   
fig

Figure(layout=FigureLayout(height='420px'))

In [69]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,37,Barcelona,ES,80.01,few clouds,41.39,2.16,Axel Hotel Barcelona
1,407,Tomelloso,ES,84.99,clear sky,39.15,-3.02,Hotel Altora
2,613,Huescar,ES,80.01,clear sky,37.81,-2.54,Hotel El MaÃ±o
3,289,San Javier,ES,84.20,scattered clouds,37.81,-0.84,Hotel Mar Menor
4,37,Barcelona,ES,80.01,few clouds,41.39,2.16,Axel Hotel Barcelona

In [72]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt>{City}<dd></dd>
<dt>Country</dt>{Country}<dd></dd>
<dt>Current Weather</dt>{Current Description} and {Max Temp:.1f} Â°F<dd></dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [73]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))